body {
  background-color: $primary-backgroundcolor;
  
nav {
  background-color: rgba(125, 157, 156, 0.28);
}



  #cookie-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $text;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;

    p {
      color: $primary-backgroundcolor;
      width: 80%;
      font-family: $Inter;
    }

    button {
      border-radius: 11px;
      border: none;
      color:$black;
      background-color: $primary-backgroundcolor;
      font-weight: bold;
    }
  }

  /* section 1*/

  .head-section {
    .h1,
    p {
      position: relative;
      text-align: center;
      color: $white;
    }
    .h1 {
      font-weight: lighter;
      font-family: $Dancing-Script;
      text-shadow: 1px 2px $black;
    }

    p {
      font-family: $Montserrat;
      font-weight: 600;
    }

    background-image: url('../assets/Imgs/fronpage-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .menu-for-bigger-screen{ 
    .nav-menu{
        position: relative;
        top: 30px;
        display: flex;
        list-style: none;
        justify-content: space-between;
        li{
          a{
            text-decoration: none;
            font-family: $Montserrat;
            color: $black;
            font-weight: 600;
          }
        }
      }
    }

  /* section 2*/

  .middle-section {
    .article-middle-section {
      font-family: $Montserrat;
      text-align: center;
      border-radius: 30px;
      color: $text;
      background-color: $Card-Background;
      img {
        height: 100%;
      }
      img,
      .img-container {
        width: 100%;
        border-radius: 30px;
      }

      .img-container {
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

/* section 3*/
.lower-section-visit-us {
   width: 100%;
  h3 {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: $Montserrat;

    span {
      position: absolute;
      width: 4.2rem;
      top: 10px;
      z-index: -1;
      height: 0.5rem;
      background-color: $Card-Background;
    }
  }
}

.lower-section {
  .lower-article {
    color: $black;
    background-color: $Card-Background;

    p,
    button {
      text-align: center;
      font-family: $Montserrat;
    }
    button {
      -webkit-box-shadow: 0px 8px 6px -2px $black;
      box-shadow: 0px 8px 6px -2px $black;
      width: 100%;
      border-radius: 20px;
      background-color: $btn-primary-backgroundcolor;
      border: none;
    }
  }

  img {
    object-position: center;
  }

  #Hands {
    display: none;
  }
}

#button {
  -webkit-box-shadow: 0px 8px 6px -2px $black;
  box-shadow: 0px 8px 6px -2px $black;
  text-align: center;
  font-size: 1.5rem;
  font-family: $Inter;
  border-radius: 20px;
  background-color: $btn-primary-backgroundcolor;
  border: none;
}

/* Footer*/

footer {
  color: $primary-backgroundcolor;
  background-color: $Footer-background;

  h3,
  p {
    text-align: center;
    font-family: $Montserrat;
  }
  input,
  button {
    background-color: $btn-primary-backgroundcolor;
    font-family: $Montserrat;
    font-weight: 600;
    border: none;
    border-radius: 11px;
  }

  input::placeholder {
    padding-left: 10px;
  }
  button {
    color: $links-default;
    filter: drop-shadow(1px 2px 2px $black);
  }
}
