/* 460 px så ser det inte bra ut behöver ändra måtten*/

@import './global-variables';

@media only screen and (min-width: 320px) {
  body {
    background-color: $primary-backgroundcolor;

    main {
      display: flex;
      flex-direction: column;
    }

    /* section 1*/
    .head-section {
      display: grid;
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      .h1 {
        text-align: center;
        font-size: 50px;
        color: white;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      p {
        color: white;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      .logo {
        background-color: white;
        grid-column-start: 4;
        grid-column-end: 7;
      }

      background-image: url('../assets/Imgs/fronpage-img.webp');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;

      .logo {
        width: 184px;
        height: 187px;
        bottom: 10px;
      }
    }

    nav {
      position: fixed;
      top: 0px;
      height: 47px;
      width: 100%;

      .hamburger-menu {
        position: absolute;
        padding: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 2rem;
        width: 2rem;
        top: 5px;
        right: 5px;

        span {
          background-color: rgb(255, 255, 255); //äNDRA DENNA
          border-radius: 1em;
          width: 2rem;
          height: 4px;
        }
      }
    }

    /* section 2*/

    .middle-section {
      display: grid;
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      .article-middle-section {
        margin-top: $spacing;
        text-align: center;
        border-radius: 30px;
        color: $text;
        grid-column-start: 2;
        grid-column-end: 9;
        background-color: $Card-Background;

        h2 {
          text-align: center;
          margin-top: 30px;
        }

        img {
          // border-radius: 20px;
          // width: 100%;
          // object-position: center;
          // object-fit: cover;
          // border-radius: 20px;
          width: 100%;
          height: 100%;
          border-radius: 30px;
        }

        .img-container {
          border-radius: 30px;
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
        .article-middle-section-p {
          margin: 30px;
        }
      }
      color: white;

      img {
        width: 500px;
        height: 500px;
      }
    }
  }

  /* section 3*/
  .lower-section-visit-us {
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;

    h3 {
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      span {
        position: absolute;
        width: 4.2rem;
        top: 10px;
        z-index: -1;
        height: 8px;
        border: 2px;
        background-color: $Card-Background;
      }
    }
  }

  .lower-section {
    margin: 20px;

    .lower-article {
      color: black;
      background-color: $Card-Background;
      display: grid;
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      p {
        margin-top: 10px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      // #btnContainer {
      //   grid-column-start: 4;
      //   grid-column-end: 7;
      // }
      button {
        grid-column-start: 4;
        grid-column-end: 7;
        -webkit-box-shadow: 0px 8px 6px -2px #000000;
        box-shadow: 0px 8px 6px -2px #000000;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 80;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background-color: $btn-primary-backgroundcolor;
        border: none;
        margin-bottom: 50px;
      }
    }

    img {
      // height: 50vh;
      grid-column-start: 2;
      grid-column-end: 9;
      object-fit: contain;
      object-position: center;
      width: 100%;
      margin-bottom: $spacing;
    }
  }
  #btnContainer {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  #button {
    grid-column-start: 4;
    grid-column-end: 7;
    -webkit-box-shadow: 0px 8px 6px -2px #000000;
    box-shadow: 0px 8px 6px -2px #000000;
    // width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: $btn-primary-backgroundcolor;
    border: none;
  }

  /* Footer*/

  footer {
    color: $primary-backgroundcolor;
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    background-color: #576f72;

    h3 {
      font-size: 2rem;
      margin: 20px;
      text-align: center;
      grid-column-start: 2;
      grid-column-end: 9;
    }
    p {
      margin: 1%;
      text-align: center;
      grid-column-start: 2;
      grid-column-end: 9;
    }
    input {
      margin-bottom: 10%;
      margin-right: 20px;
      height: 30px;
      border: none;
      border-radius: 11px;
      grid-column-start: 2;
      grid-column-end: 7;
    }

    input::placeholder {
      padding-left: 10px;
    }
    button {
      height: 30px;
      margin-bottom: 10%;
      border: none;
      border-radius: 11px;
      grid-column-start: 7;
      grid-column-end: 9;
    }

    #Instagram {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    #Facebook {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    #LinkedIn {
      grid-column-start: 7;
      grid-column-end: 9;
    }
    .bottom-p {
      margin-bottom: 10%;
    }
  }
}
