/* 460 px så ser det inte bra ut behöver ändra måtten*/

@import './global-variables';

@media only screen and (min-width: 320px) and (max-width: 550px) {
  body {

    .menu-for-bigger-screen{
      display: none;
    }

    #cookie-container {

      height: 50px;

      p {
        margin-top: 5px;
      }

      button {
        margin: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
      }
    }



    /* section 1*/

    .head-section {
      display: grid;
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      .h1 {
        top: 250px;
        font-size: 50px;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      p {
        top: 100px;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      .logo {
        max-height: 390px;
        max-width: 250px;
        grid-column-start: 4;
        grid-column-end: 7;
      }
    }

    nav {
      position: fixed;
      top: 0px;
      height: 47px;
      width: 100%;

      .hamburger-menu {
        position: absolute;
        padding: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 2rem;
        width: 2rem;
        top: 5px;
        right: 5px;

        span {
          background-color: rgb(255, 255, 255); //äNDRA DENNA
          border-radius: 1em;
          width: 2rem;
          height: 4px;
        }
      }
    }

    /* section 2*/

    .middle-section {
      display: grid;
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      .article-middle-section {
        margin-top: $spacing;
        border-radius: 30px;
        grid-column-start: 2;
        grid-column-end: 9;

        h2 {
          margin-top: 30px;
        }

        .img-container {
          height: 200px;
        }
        .article-middle-section-p {
          margin: 30px;
        }
      }
      img {
        width: 500px;
        height: 500px;
      }
    }
  }

  /* section 3*/
  .lower-section-visit-us {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .lower-section {
    margin: 20px;

    .lower-article {
      display: grid;
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      p {
        margin-top: 10px;
        grid-column-start: 2;
        grid-column-end: 9;
      }
      button {
        grid-column-start: 4;
        grid-column-end: 7;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 80;
        font-size: 1.5rem;
        margin-bottom: 50px;
      }
    }

    img {
      grid-column-start: 2;
      grid-column-end: 9;
      margin-bottom: $spacing;
    }
  }
  #btnContainer {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  #button {
    grid-column-start: 4;
    grid-column-end: 7;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80;
    font-size: 1.5rem;
  }

  /* Footer*/

  footer {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    h3 {
      font-size: 2rem;
      margin: 20px;
      grid-column-start: 2;
      grid-column-end: 9;
    }
    p {
      margin: 1%;
      grid-column-start: 2;
      grid-column-end: 9;
    }
    input {
      margin-right: 20px;
      height: 30px;
      grid-column-start: 2;
      grid-column-end: 7;
    }
    button {
      margin-bottom: 10%;
      height: 30px;
      margin-bottom: 10%;
      grid-column-start: 7;
      grid-column-end: 9;
    }

//  icons

    #Instagram {
      grid-column-start: 3;
      grid-column-end: 5;
    }
    #Facebook {
      grid-column-start: 5;
      grid-column-end: 7;
    }
    #LinkedIn {
      grid-column-start: 7;
      grid-column-end: 9;
    }

    .bottom-p {
      margin-bottom: 10%;
    }
  }
  
}
