/* 460 px så ser det inte bra ut behöver ändra måtten*/

@import './global-variables';

@media only screen and (min-width: 320px) {

  body{
    background-color: $primary-backgroundcolor;

  main{
    display: flex;
    flex-direction: column;
  }

    .head-section {
      display: grid; 
      grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

      .h1{
        text-align: center;
        font-size: 50px;
        color: white;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      p{
        color: white;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 9;
      }

      .logo{
        background-color: white;
        grid-column-start: 4;
        grid-column-end: 7;
      }
      

      background-image: url('../assets/Imgs/fronpage-img.webp');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;

      .logo {
        width: 184px;
        height: 187px;
        bottom: 10px;
      }
    }
  
  nav{
      position: sticky;
      top: 0;
      width: 100%;
      background-color: blue;

      .hamburger-menu {
        padding: 3px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 2rem;
        width: 2rem;
        top: 5px;
        right: 5px;

        span{
            background-color: rgb(255, 255, 255);
            border-radius: 1em;
            width: 2rem;
            height: 4px;
        }
    }
  }

  .middle-section{
    display: grid; 
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

    .article-middle-section{
      margin-top: $spacing;
      text-align: center;
      border-radius: 30px;
      color: $text;
      grid-column-start: 2; 
      grid-column-end: 9;
      background-color: $Card-Background;

      h2{
        text-align: center;
        margin-top: 30px;
      }

      img{
        // border-radius: 20px;
        // width: 100%;
        // object-position: center;
        // object-fit: cover;
        // border-radius: 20px;
        width: 100%;
        height: 100%;
        border-radius: 30px;

      }
    
      .img-container{
        border-radius: 30px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;



      }
      .article-middle-section-p{

        margin: 30px;
      }
    }
    color: white;


    img{
      width: 500px;
      height: 500px;
    };
  }
  }
}
  