/* 460 px så ser det inte bra ut behöver ändra måtten*/

@import './global-variables';

@media only screen and (min-width: 320px) and (max-width: 550px) {
  body {
    .menu-for-bigger-screen {
      display: none;
    }

    #cookie-container {
      height: 50px;
      p {
        margin-top: 5px;
      }

      button {
        margin: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
      }
    }
    //****// Navigation and Hamburger menu //****//
    span {
      background-color: black;
      height: 7.42px;
      width: 50px;
      display: block;
      margin: 5px;
      border-radius: 4px;
      position: relative;
    }
    #menu-button {
      border: none;
      position: fixed;
      right: 20px;
      z-index: 998;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      margin-top: 20px;
    }
    .menu-open {
      border: none;
      position: fixed;
      top: 5px;
      right: 20px;
      z-index: 998;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      margin-top: 10px;
    }

    .menu-open ~ nav {
      display: block;
    }
    .menu-open :first-child {
      display: none;
    }
    .menu-open :nth-child(2) {
      margin-top: 15pix;
      background-color: black;
      -webkit-transform: rotate(-45deg);
      transform: rotate(45deg);
      margin-top: 15;
      margin-left: 1;
    }
  }

  .menu-open :nth-child(3) {
    background-color: black;
    -webkit-transform: rotate(-45deg);
    transform-origin: 10px;
  }
}

nav ul li {
  list-style: none;
  margin: 35px;
}
nav ul li a {
  text-decoration: none;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
  position: relative;
}
nav ul li a::after {
  content: '';
  height: 3px;
  width: 0;
  position: absolute;
}
nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  padding-top: 100px;
}

//****// Nav and Hamburger Menu ENDS // ****//

main {
  display: flex;
  flex-direction: column;
}


/* section 1*/


.head-section {
  display: grid;
  grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

  .h1 {
    position: relative;
    top: 250px;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px black;
    color: white;
    grid-column-start: 2;
    grid-column-end: 9;
  }

  p {
    position: relative;
    top: 100px;
    color: white;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 9;

  }

  .logo {
    grid-column-start: 4;

    grid-column-end: 7;
  }

  background-image: url('../assets/Imgs/fronpage-img.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .logo {
    height: 100%;
    width: 100%;
    bottom: 10px;
  }
}

/* section 2*/


.middle-section {
  display: grid;
  grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

  .article-middle-section {
    margin-top: $spacing;
    text-align: center;
    border-radius: 30px;
    color: $text;
    grid-column-start: 2;
    grid-column-end: 9;
    background-color: $Card-Background;

    h2 {
      text-align: center;
      margin-top: 30px;
    }

    img {
      // border-radius: 20px;
      // width: 100%;
      // object-position: center;
      // object-fit: cover;
      // border-radius: 20px;
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }

    .img-container {
      border-radius: 30px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
    .article-middle-section-p {
      margin: 30px;
    }
  }
  color: white;

  img {
    width: 500px;
    height: 500px;
  }
}

/* section 3*/
.lower-section-visit-us {
  grid-column-start: 4;
  grid-column-end: 6;
  width: 100%;

  h3 {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    span {
      position: absolute;
      width: 4.2rem;
      top: 10px;
      z-index: -1;
      height: 8px;
      border: 2px;
      background-color: $Card-Background;
    }
  }
}

.lower-section {
  margin: 20px;

  .lower-article {
    color: black;
    background-color: $Card-Background;
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

    p {
      margin-top: 10px;
      text-align: center;
      grid-column-start: 2;
      grid-column-end: 9;
    }

    // #btnContainer {
    //   grid-column-start: 4;
    //   grid-column-end: 7;
    // }
    button {
      grid-column-start: 4;
      grid-column-end: 7;
      -webkit-box-shadow: 0px 8px 6px -2px #000000;
      box-shadow: 0px 8px 6px -2px #000000;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      height: 80;
      text-align: center;
      font-size: 1.5rem;
      border-radius: 20px;
      background-color: $btn-primary-backgroundcolor;
      border: none;
      margin-bottom: 50px;

    }
  }

  img {
    // height: 50vh;
    grid-column-start: 2;
    grid-column-end: 9;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-bottom: $spacing;
  }
}
#btnContainer {
  grid-column-start: 4;
  grid-column-end: 7;
}
#button {
  grid-column-start: 4;
  grid-column-end: 7;
  -webkit-box-shadow: 0px 8px 6px -2px #000000;
  box-shadow: 0px 8px 6px -2px #000000;
  // width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 80;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 20px;
  background-color: $btn-primary-backgroundcolor;
  border: none;
}

/* Footer*/

footer {
  color: $primary-backgroundcolor;
  display: grid;
  grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
  background-color: #576f72;

  h3 {
    font-size: 2rem;
    margin: 20px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 9;
  }
  p {
    margin: 1%;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 9;
  }
  input {
    margin-bottom: 10%;
    margin-right: 20px;
    height: 30px;
    border: none;
    border-radius: 11px;
    grid-column-start: 2;
    grid-column-end: 7;
  }

  input::placeholder {
    padding-left: 10px;
  }
  button {
    height: 30px;
    margin-bottom: 10%;
    border: none;
    border-radius: 11px;
    grid-column-start: 7;
    grid-column-end: 9;
  }

  #Instagram {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  #Facebook {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  #LinkedIn {
    grid-column-start: 7;
    grid-column-end: 9;
  }
  .bottom-p {
    margin-bottom: 10%;

  }
}
