@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* section 1*/
  nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
  }
  .menu-for-bigger-screen {
    position: relative;
    top: 30px;
    width: 19rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
  }
  .head-section {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;

    background-image: url('../assets/Imgs/fronpage-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    h1 {
      position: relative;
      top: 260px;
      text-align: center;
      font-size: 5rem;
      font-weight: lighter;
      font-family: 'Dancing Script', cursive;
      text-shadow: 1px 2px black;
      color: white;
      grid-column-start: 3;
      grid-column-end: 16;
    }
    p {
      position: relative;
      top: 180px;
      font-size: 1.5rem;
      color: white;
      text-align: center;
      grid-column-start: 4;
      grid-column-end: 16;
    }
    .logo {
      grid-column-start: 8;
      grid-column-end: 11;
      height: 100%;
      width: 100%;
      bottom: 10px;
    }
  }
  /* section 2*/
  .middle-section {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    .article-middle-section {
      margin-top: $spacing;
      text-align: center;
      border-radius: 30px;
      color: $text;
      grid-column-start: 5;
      grid-column-end: 14;
      background-color: $Card-Background;
    }
    h2 {
      text-align: center;
      margin-top: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }

    .img-container {
      border-radius: 30px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
    .article-middle-section-p {
      margin: 30px;
    }
  }
  /* section 3*/
  .lower-section-visit-us {
    grid-column-start: 13;
    grid-column-end: 6;
    width: 100%;
    h3 {
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      span {
        position: absolute;
        width: 4.2rem;
        top: 10px;
        z-index: -1;
        height: 8px;
        border: 2px;
        background-color: $Card-Background;
      }
    }
  }

  .lower-section {
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    display: grid;

    margin: 20px;
    .lower-article {
      color: black;
      background-color: $Card-Background;
      display: grid;
      //   grid-template-columns: 20px 1fr 20px 1fr 20px 1fr ar20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
      grid-column-start: 3;
      grid-column-end: 8;
      min-width: 200px;
      height: 300px;

      p {
        margin-top: 10px;
        // width: 20%;
        margin-left: 20px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      button {
        grid-column-start: 2;
        // grid-column-end: 7;
        -webkit-box-shadow: 0px 8px 6px -2px #000000;
        box-shadow: 0px 8px 6px -2px #000000;
        width: 100%;
        // margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 30px;
        height: 80;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background-color: $btn-primary-backgroundcolor;
        border: none;
        margin-bottom: 50px;
      }
    }
    img {
      // height: 50vh;
      grid-column-start: 8;
      grid-column-end: 16;
      object-fit: fill;
      height: 300px;
      width: 400px;
    }
  }

  footer {
    color: $primary-backgroundcolor;
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    background-color: #576f72;
    padding-top: 20px;
    // height: 200px;

    h3 {
      font-size: 2rem;
      margin: 20px;
      text-align: left;
      // margin-top: 30px;
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 2;
    }
    p {
      // margin: 1%;
      // text-align: center;
      // grid-column-start: 12;
      // grid-column-end: 17;
    }
    #footer-text {
      text-align: center;
      grid-column-start: 12;
      grid-column-end: 17;
      grid-row-start: 2;
    }
    input {
      // margin-bottom: 10%;
      // margin-right: 20px;
      height: 30px;
      border: none;
      border-radius: 11px;
      grid-column-start: 12;
      grid-column-end: 15;
      margin: 20px;
      grid-row-start: 2;
    }

    input::placeholder {
      padding-left: 10px;
    }
    button {
      height: 30px;
      // margin-bottom: 10%;
      border: none;
      border-radius: 11px;
      grid-column-start: 16;
      grid-column-end: 18;
      margin: 20px;
      grid-row-start: 2;
    }

    #Instagram {
      grid-column-start: 6;
      grid-column-end: 7;
      margin: 20px;
      grid-row-start: 2;
      justify-items: center;
    }
    #Facebook {
      grid-column-start: 8;
      grid-column-end: 10;
      grid-row-start: 2;
      margin: 20px;
      justify-items: center;
    }
    #LinkedIn {
      grid-column-start: 10;
      grid-column-end: 12;
      margin: 20px;
      grid-row-start: 2;
      justify-items: center;
    }
    .bottom-p {
      margin-bottom: 10%;
      // margin: 1%;
      text-align: center;
      grid-column-start: 8;
      grid-column-end: 14;
      grid-row-start: 3;
    }
  }

  #cookie-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $text;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: black;
    p {
      text-align: right;
      margin-top: 20px;
      color: $primary-backgroundcolor;
      width: 80%;
    }

    button {
      border-radius: 11px;
      border: none;
      color: black;
      background-color: $primary-backgroundcolor;
      margin: 5px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
