@media only screen and (min-width: 550px) and (max-width: 1000px) {
  /* section 1*/

  // codepen

  .menu-for-bigger-screen {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;

    .nav-menu {
      height: 100%;
      width: 70%;
      display: flex;
      align-items: center;
      list-style: none;
      // padding: 0 100px;

      li {
        display: block;
        height: 60%;
        font-size: 1.5rem;
        font-family: $Montserrat;
        font-weight: 600;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
        text-align: center;
        padding: 0 10px;
        margin-right: 30px;
        margin-bottom: 60px;
      }

      li:after,
      li:before {
        content: '';
        position: absolute;
        display: block;
        border: 0px solid transparent;
        width: 0%;
        height: 0%;
        transition: all 0.5s ease;
      }

      li:after {
        width: 0%;
        height: 0%;
        top: 0;
        left: 0;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
      }

      li:before {
        width: 0%;
        height: 0%;
        right: 0;
        bottom: 0;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
      }

      li:hover::before,
      li:hover::after {
        width: 100%;
        height: 100%;
        border-color: rgb(0, 0, 0);
      }
    }

    // // codepenn
  }

  // nav for bigger screen
  #menu-button {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
    width: 60%;
    li {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .head-section {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    h1 {
      top: 260px;
      font-size: 5rem;
      grid-column-start: 3;
      grid-column-end: 16;
    }
    p {
      top: 180px;
      font-size: 1.5rem;
      grid-column-start: 4;
      grid-column-end: 16;
    }
    .logo {
      grid-column-start: 8;
      grid-column-end: 11;
    }
  }
  /* section 2*/
  .middle-section {
    display: grid;
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    .article-middle-section {
      margin-top: $spacing;
      grid-column-start: 5;
      grid-column-end: 14;
    }
    h2 {
      margin-top: 30px;
    }
    .img-container {
      height: 200px;
    }
    .article-middle-section-p {
      margin: 30px;
    }
  }
  /* section 3*/
  .lower-section-visit-us {
    grid-column-start: 13;
    grid-column-end: 6;
    span {
      position: absolute;
      width: 4.2rem;
      top: 10px;
      z-index: -1;
      height: 8px;
      border: 2px;
      background-color: $Card-Background;
    }
  }

  .lower-section {
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    display: grid;
    margin: 20px;
    .lower-article {
      display: grid;
      grid-column-start: 3;
      grid-column-end: 8;
      min-width: 200px;
      height: 300px;

      p {
        margin-top: 10px;
        margin-left: 20px;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      button {
        grid-column-start: 2;
        margin-left: 10px;
        margin-top: 30px;
        height: 80;
        font-size: 1.5rem;
        margin-bottom: 50px;
      }
    }
    img {
      grid-column-start: 8;
      grid-column-end: 16;
      height: 300px;
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
  }

  #cookie-container {
    height: 50px;
    p {
      text-align: right;
      margin-top: 20px;
    }
    button {
      margin: 5px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1rem;
    }
  }

  footer {
    grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
    display: grid;

    h3 {
      margin-top: 50px;
      grid-column-start: 4;
      grid-column-end: 7;
    }
    #footer-text {
      text-align: left;
      margin-left: 20px;
      grid-column-start: 9;
      grid-column-end: 17;
      grid-row-start: 2;
      margin-bottom: 15px;
    }

    #Instagram {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
    }
    #Facebook {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 4;
    }
    #LinkedIn {
      grid-column-start: 7;
      grid-column-end: 9;
      grid-row-start: 4;
    }

    input {
      height: 30px;
      grid-column-start: 10;
      grid-column-end: 16;
      grid-row-start: 3;
      margin-right: 20px;
    }

    button {
      height: 30px;
      grid-column-start: 16;
      grid-column-end: 17;
      grid-row-start: 3;
    }
    .buttonStart,
    .buttonEnd,
    .btnDis .buttonStart {
      cursor: pointer;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 135px;
      height: 30px;
      border-radius: 60px;
      background-color: $btn-primary-backgroundcolor;
      text-align: center;
      color: $btn-color;
      font-weight: bold;
      overflow: hidden;

      #w {
        display: none;
      }
    }
    .buttonStart:hover {
      background-color: $btn-hover;
    }
    .buttonEnd {
      background: #7d9d9c;
    }
    .btnDis {
      background-color: $btn-disabled;
    }
    // Subscribe button and Animation Ends //

    .bottom-p {
      font-style: italic;
      text-align: center;
      grid-column-start: 2;
      grid-column-end: 18;
      grid-row-start: 5;
      margin-top: 40px;
      margin-bottom: 15px;
    }
  }
}
