$primary-backgroundcolor: #f0ebe3;
$text: #252727;

/* Cards*/
$Card-Background: #7d9d9c;

/* Footer */
$Footer-background: #576f72;

/* btn */
$btn-primary-backgroundcolor: #fff5e5;
$btn-drop-shadow: #000 25%;
$btn-blur: 4;
$btn-color: #252727;

$btn-hover: #e4dccf;
$btn-disabled: #858585;

/*links*/
$links-default: #000;
$links-hover: #252727;

/* media screen*/
$mobile-font-size: 3, 625rem;
$tablet-font-size: 6rem;
$desktop-font-size: 8rem;

//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
// Font Variables
$Dancing-Script: 'Dancing Script', cursive;
