$primary-backgroundcolor: #F0EBE3;
$text: #252727;

/* Cards*/
$Card-Background: #7D9D9C;

/* Footer */
$Footer-background: #576F72;


/* btn */
$btn-primary-backgroundcolor: #FFF5E5;
$btn-drop-shadow: #000 25%;
$btn-blur: 4;
$btn-color: #252727;

$btn-hover: #E4DCCF ;
$btn-disabled: #858585;

/*links*/
$links-default: #000;
$links-hover: #252727;


/* media screen*/
$mobile-font-size: 3,625rem;
$tablet-font-size: 6rem;
$desktop-font-size: 8rem;
