@media only screen and (max-width: 428px) {
  .head-section {
    background-image: url('../assets/Imgs/fronpage-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
  }
}
