@media only screen and (max-width: 428px) {
  .head-section {

    display: flex;
    justify-content: center;
  }
  .logo {
    width: 184px;
    height: 187px;
    position: absolute;

    bottom: 0px;

    background-image: url('../assets/Imgs/fronpage-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;

  }
}
